---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <main role="main" class="content">
                {{ content }}
            </main>
        {% include scripts.html %}
    </body>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136453841-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-136453841-1');
	</script>

</html>
